.everything {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.router-outlet{
  flex: auto;
  height: fit-content;
}

.main-content{
  flex: 3;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightsteelblue;
}

