.background{
  background-color: lightsteelblue;
}

.everything {
  display: block;
  /* re-enable to force min height of 100% */
  /* width: 100%; */
  /* min-height: 100%; */
  height: fit-content;
  align-items: center;
  margin: auto;
  align-self: center;
}

.central-content{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
  background-color: gainsboro;
}

.wide{
  display: block;
  width: 100%;
  align-items: center;
}

.rotatable{
  display:inline-block;
  margin:10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.rotatable:hover {
  transform:rotate(-15deg);
}

 @keyframes marquee{
            0%{transform: translateX(100%);}
            100%{transform: translateX(-100%);}
}

@media all{
    .horizontal-marquee{
      animation: marquee 15s linear infinite;
    }
}

.marquee-container{
  overflow: hidden;
}

.border{
  box-shadow: 0 0 0 1px;
}

.padding{
  padding: 10px;
}


.margin{
  margin: 5px;
}
.top-margin{
  margin-top: 5px;
}
.left-margin{
  margin-left: 5px;
}
.right-margin{
  margin-right: 5px;
}
.bottom-margin{
  margin-bottom: 5px;
}

a{text-decoration: underline;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

