<div class="menu left-margin border">
  <p>This is the side menu.</p>
  <div>
    <div class="menu-section margin border">
      <p>This is a menu section</p>
      <a class="rotatable"> This is a link! </a>
      <a class="rotatable"> This is another link! </a>
    </div>
    <div class="menu-section margin top-margin border">
      <p>This is a menu with web ring buttons</p>
      <div class="logo-wrap">
        <a href="#" class="logo-link">
          <mat-icon class="logo" svgIcon="twitter"></mat-icon
        ></a>
        <a href="#" class="logo-link">
          <mat-icon class="logo" svgIcon="tumblr"></mat-icon
        ></a>
        <a href="#" class="logo-link no-padding">
          <mat-icon class="logo-bigger" svgIcon="itch"></mat-icon
        ></a>
      </div>
    </div>
  </div>
</div>
